In [53]:
import pandas as pd
import re
from datetime import datetime
from time import mktime
my_cols = ["Room", "Times", "Assoc", "Auth"]
df = pd.read_csv("CSI WiFiLogs/Client_Count_CSCI_B-02_20151103_173000_078.csv", names=my_cols, engine='python')
df.head(22)

,Room,Times,Assoc,Auth
0,Client Count CSCI B-02,None,None,None
1,Generated: 2015-Nov-03,17:30:00 GMT+00:00,None,None
2,Report By: Floor Area,None,None,None
3,Connection Protocol/SSID: All Clients/All SSIDs,None,None,None
4,Reporting Period: Last 1 hour,None,None,None
5,Total Client Count,None,None,None
6,Total Count,Event Time,Associated Client Count,Authenticated Client Count
7,total,Tue Nov 03 16:30:26 GMT+00:00 2015,40,39
8,total,Tue Nov 03 16:35:32 GMT+00:00 2015,39,39
9,total,Tue Nov 03 16:40:40 GMT+00:00 2015,38,38
10,total,Tue Nov 03 16:45:45 GMT+00:00 2015,37,37
11,total,Tue Nov 03 16:50:59 GMT+00:00 2015,33,33
12,total,Tue Nov 03 16:56:24 GMT+00:00 2015,36,36
13,total,Tue Nov 03 17:01:29 GMT+00:00 2015,35,35
14,total,Tue Nov 03 17:06:22 GMT+00:00 2015,36,36
15,total,Tue Nov 03 17:11:16 GMT+00:00 2015,34,34
16,total,Tue Nov 03 17:16:06 GMT+00:00 2015,35,35
17,total,Tue Nov 03 17:21:14 GMT+00:00 2015,33,33
18,total,Tue Nov 03 17:26:09 GMT+00:00 2015,33,33
19,Client Count,None,None,None
20,Key,Event Time,Associated Client Count,Authenticated Client Count
21,Belfield > Computer Science > B-002,Tue Nov 03 16:30:26 GMT+00:00 2015,40,39

In [54]:
# Cycle through the first column, and find out how far down the relevant data starts
for i in range(0, df.shape[0]-1):
    if df.iloc[i][0] == "Key":
        cutoff = i
        break
df_data = df.ix[cutoff+1:]
del df

In [40]:
df_data.head()

(12, 4)

In [72]:
month_dictionary = {
    "Jan":1,
    "Feb":2,
    "Mar":3,
    "Apr":4,
    "May":5,
    "Jun":6,
    "Jul":7,
    "Aug":8,
    "Sep":9,
    "Oct":10,
    "Nov":11,
    "Dec":12
}

for i in range(0, df_data.shape[0]-1):
    room = df_data.iloc[i][0].split()[-1]
    room = room.replace("-","")
    df_data.iloc[i][0] = room
    
    time_properties = df_data.iloc[i][1].split()
    year = time_properties[-1]
    month = month_dictionary[time_properties[1]]
    day = time_properties[2]
    hour = time_properties[3].split(":")[0]
    minute = time_properties[3].split(":")[1]
    second = time_properties[3].split(":")[2]
    unix_time = datetime(int(year), month, int(day), int(hour), int(minute), int(second))
    my_time = int(mktime(unix_time.timetuple()))
    df_data.iloc[i][1] = my_time
df_data.head()

    Room       Times Assoc Auth
21  B002  1446568226    40   39
22  B002  1446568532    39   39
23  B002  1446568840    38   38
24  B002  1446569145    37   37
25  B002  1446569459    33   33

In [ ]:
datetime.timestamp()